name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig1-dev
      - name: Check formatting
        run: cargo fmt -- --check
      - name: Build
        run: cargo build
      - name: Run tests on all non-nightly features
        run: cargo test --features std,derive,half,maligned,mmap-rs,rand
      - name: Run no default features tests
        run: cargo test --no-default-features
      - name: Run tests with alloc and derive feature
        run: cargo test --no-default-features --features derive
      - name: Run examples
        working-directory: ./mem_dbg
        run: for example in examples/*.rs ; do cargo run --example "$(basename "${example%.rs}")" --release --features="std derive offset_of_enum"; done
      - name: Run clippy
        run: cargo clippy #-- -Dclippy::all -Dclippy::cargo

  build-nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig1-dev
      - name: Install nightly toolchain + miri
        run: rustup toolchain install nightly && rustup default nightly && rustup component add miri
      - name: Build with all features
        run: cargo build --all-features
      - name: Run tests with all features (including offset_of_enum)
        run: cargo test --all-features
      - name: Run miri with all features except half (because of ASM code)
        run: MIRIFLAGS=-Zmiri-disable-isolation cargo miri test --features std,derive,rand,maligned,offset_of_enum
        
  coverage:
    needs: [build-stable, build-nightly]
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y libfontconfig1-dev

      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --engine llvm --all-features --workspace --out Lcov --exclude mem_dbg-derive --exclude-files "mem_dbg/examples/*" --release

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "lcov.info"