name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check formatting
        run: cargo fmt -- --check
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test --all-features
      - name: Run no default features tests
        run: cargo test --no-default-features
      - name: Run tests with maligned feature
        run: cargo test --no-default-features --features maligned
      - name: Run tests with alloc and derive feature
        run: cargo test --no-default-features --features derive
      - name: Run examples
        working-directory: ./mem_dbg
        run: for example in examples/*.rs ; do cargo run --example "$(basename "${example%.rs}")" ; done
      - name: Run clippy
        run: cargo clippy #-- -Dclippy::all -Dclippy::cargo
        
  coverage:
    needs: build
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --engine llvm --all-features --workspace --out Lcov

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "lcov.info"